.floating-window {
    position: fixed;
    right: 5em;
    top: 4em;/* Adjust this value to position it where you want */
    /*background-color: #fff;*/
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 17em; /* Expanded width */
    display: none;
    background-color: #222;
    color: #fff;
}

.float-on{
    display: inherit;
}
.content {
    padding: 20px;

}
.searched-element:hover{

        background-color: #444;

}