.app {
    display: flex;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 11.9vh;
    left: 8px;
    width: 15%;
    height: 100vh;
    background-color: #222;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar-content {
    margin-bottom: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #444;
}

/* Main content styles */
.main-content {
    margin-left: 250px; /* Adjust margin to accommodate sidebar width */
    padding: 20px;
    flex: 1;
    background-color: #f4f4f4;
}